# Preparación del entorno

In [131]:
import pandas as pd #Importamos la librería pandas

In [132]:
Clientes = pd.read_csv(r'Clientes.csv') #Cargamos el dataset

# Exploracion

a) Mostrar las primeras 5 filas del DataFrame.

In [152]:
Clientes.head(5)

,CustomerID,Gender,Age,Annual Income (k$),Spending Score (1-100),Income_Category,Age_group
0,1,Male,19.0,15.0,39.0,Low,Joven
2,3,Female,20.0,16.0,6.0,Low,Joven
5,6,Female,22.0,17.0,76.0,Low,Joven
6,7,Female,35.0,18.0,6.0,Low,Adulto
7,8,Female,23.0,18.0,94.0,Low,Joven

b) Obtener las dimensiones del DataFrame.

In [153]:
Clientes.shape

(150, 7)

c) Mostrar los tipos de datos de cada columna.

In [154]:
Clientes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150 entries, 0 to 199
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              150 non-null    int64
 1   Gender                  150 non-null    object
 2   Age                     150 non-null    float64
 3   Annual Income (k$)      150 non-null    float64
 4   Spending Score (1-100)  150 non-null    float64
 5   Income_Category         150 non-null    object
 6   Age_group               150 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 9.4+ KB

d) ¿Cuantos valores faltantes hay por columna?

In [155]:
Clientes.isna()

,CustomerID,Gender,Age,Annual Income (k$),Spending Score (1-100),Income_Category,Age_group
0,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
195,False,False,False,False,False,False,False
196,False,False,False,False,False,False,False
197,False,False,False,False,False,False,False
198,False,False,False,False,False,False,False
199,False,False,False,False,False,False,False

# Limpieza de datos

e) Eliminar las filas que tengan al menos un valor nulo.

In [156]:
Clientes = Clientes.dropna()

# Filtrado de datos

f) ¿Cuantos clientes hay de genero femenino?

In [157]:
ClientesFem = Clientes['Gender'].value_counts().get('Female') #Usamos value_counts para obtener el numero de clientes segun el genero y get para especificar

print(f'La cantidad de clientes de genero femeninos es: {ClientesFem}')

La cantidad de clientes de genero femeninos es: 83

g) ¿Qué clientes tienen un spending score mayor a 70?

In [158]:
mascara_score = Clientes['Spending Score (1-100)']>70
Clientes[mascara_score]

,CustomerID,Gender,Age,Annual Income (k$),Spending Score (1-100),Income_Category,Age_group
5,6,Female,22.0,17.0,76.0,Low,Joven
7,8,Female,23.0,18.0,94.0,Low,Joven
13,14,Female,24.0,20.0,77.0,Medium,Joven
15,16,Male,22.0,20.0,79.0,Medium,Joven
19,20,Female,35.0,23.0,98.0,Medium,Adulto
21,22,Male,25.0,24.0,73.0,Medium,Joven
33,34,Male,18.0,33.0,92.0,Medium,Joven
35,36,Female,21.0,33.0,81.0,Medium,Joven
41,42,Male,24.0,38.0,92.0,Medium,Joven
127,128,Male,40.0,71.0,95.0,High,Adulto
129,130,Male,38.0,71.0,75.0,High,Adulto
133,134,Female,31.0,72.0,71.0,High,Adulto
135,136,Female,29.0,73.0,88.0,High,Joven
137,138,Male,32.0,73.0,73.0,High,Adulto
139,140,Female,35.0,74.0,72.0,High,Adulto
141,142,Male,32.0,75.0,93.0,High,Adulto
143,144,Female,32.0,76.0,87.0,High,Adulto
145,146,Male,28.0,77.0,97.0,High,Joven
147,148,Female,32.0,77.0,74.0,High,Adulto
149,150,Male,34.0,78.0,90.0,High,Adulto
151,152,Male,39.0,78.0,88.0,High,Adulto
153,154,Female,38.0,78.0,76.0,High,Adulto
155,156,Female,27.0,78.0,89.0,High,Joven
157,158,Female,30.0,78.0,78.0,High,Adulto
161,162,Female,29.0,79.0,83.0,High,Joven
163,164,Female,31.0,81.0,93.0,High,Adulto
165,166,Female,36.0,85.0,75.0,High,Adulto
167,168,Female,33.0,86.0,95.0,High,Adulto
171,172,Male,28.0,87.0,75.0,High,Joven
173,174,Male,36.0,87.0,92.0,High,Adulto
179,180,Male,35.0,93.0,90.0,High,Adulto
181,182,Female,32.0,97.0,86.0,High,Adulto
185,186,Male,30.0,99.0,97.0,High,Adulto
189,190,Female,36.0,103.0,85.0,High,Adulto
193,194,Female,38.0,113.0,91.0,High,Adulto
195,196,Female,35.0,120.0,79.0,High,Adulto
197,198,Male,32.0,126.0,74.0,High,Adulto
199,200,Male,30.0,137.0,83.0,High,Adulto

h) Mostrar solo a los clientes entre 18 y 25 años que tengan un ingreso anual mayor a 15k.

In [159]:
#Creamos los filtros tal como vimos en clases.
mask1 = Clientes['Age'] >= 18
mask2 = Clientes['Age'] <= 25
mask3 = Clientes['Annual Income (k$)'] > 15.0

#Aplicamos los filtros para obtener la seleccion deseada
filtrado = Clientes[mask1 & mask2 & mask3]

print(filtrado[['Age', 'Annual Income (k$)']])

      Age  Annual Income (k$)
2    20.0                16.0
5    22.0                17.0
7    23.0                18.0
13   24.0                20.0
15   22.0                20.0
17   20.0                21.0
21   25.0                24.0
33   18.0                33.0
35   21.0                33.0
41   24.0                38.0
45   24.0                39.0
61   19.0                46.0
65   18.0                48.0
78   23.0                54.0
87   22.0                57.0
91   18.0                59.0
95   24.0                60.0
99   20.0                61.0
100  23.0                62.0
105  21.0                62.0
111  19.0                63.0
113  19.0                64.0
114  18.0                65.0
115  19.0                65.0
124  23.0                70.0
134  20.0                73.0
144  25.0                77.0

# Estadisticas descriptivas

  i) Calcular la edad media de los clientes

In [160]:
Clientes ['Age'].to_list() #Convertimos la columna Age en una lista

print(f'La edad media de los clientes es: {Clientes["Age"].mean()} años') #Con mean calculamos la media

La edad media de los clientes es: 39.053333333333335 años

j) ¿Cuál es el ingreso anual promedio por género?

In [161]:
IngresoAnual = Clientes.groupby('Gender')['Annual Income (k$)'].mean() #Agrupamos y calculamos el promedio

print(f'El ingreso anual promedio por genero es: {IngresoAnual}')

El ingreso anual promedio por genero es: Gender
Female    62.807229
Male      62.776119
Name: Annual Income (k$), dtype: float64

k) ¿Cuál es el Spending Score mínimo, máximo y promedio?

In [162]:
SpendingScoreValoresClientes = Clientes['Spending Score (1-100)'].describe() #Usamos describe para obtener el resumen de datos

#Aca especificamos lo que queremos mostrar
print(f'El spending score minimo es: {SpendingScoreValoresClientes["min"]}')
print(f'El spending score maximo es: {SpendingScoreValoresClientes["max"]}')
print(f'El spending score promedio es: {SpendingScoreValoresClientes["mean"]}')

El spending score minimo es: 1.0
El spending score maximo es: 98.0
El spending score promedio es: 49.553333333333335

# Agrupamientos y agregaciones

r) (o l) Agrupar por Gender y calcular la media de todas las columnas numéricas.

In [168]:
PromediosxGenero = Clientes.groupby('Gender').mean(numeric_only=True).reset_index() #Agrupamos por genero y calculamos promedio.

print(PromediosxGenero) #En cada columna obtendremos el promedio de las columnas numericas

   Gender  CustomerID        Age  Annual Income (k$)  Spending Score (1-100)
0  Female  105.060241  38.759036           62.807229               49.614458
1    Male  104.477612  39.417910           62.776119               49.477612

m) Agrupar por grupos de edad (ejemplo: <30, 30-50, >50) y obtener la media de ingreso.

In [165]:
#Creamos los filtros, en este caso como lo sugerido en el inciso
GruposdeEdad1 = Clientes['Age'] < 30
GruposdeEdad2 = (Clientes['Age'] >= 30) & (Clientes['Age'] <= 50)
GruposdeEdad3 = Clientes['Age'] > 50

#Calculamos promedio de cada grupo
GruposdeEdadMean = Clientes[GruposdeEdad1]['Annual Income (k$)'].mean()
GruposdeEdadMean2 = Clientes[GruposdeEdad2]['Annual Income (k$)'].mean()
GruposdeEdad3Mean = Clientes[GruposdeEdad3]['Annual Income (k$)'].mean()

print(f'El ingreso medio del grupo 1: {GruposdeEdadMean}')
print(f'El ingreso medio del grupo 2: {GruposdeEdadMean2}')
print(f'El ingreso medio del grupo 3: {GruposdeEdad3Mean}')

El ingreso medio del grupo 1: 54.19512195121951
El ingreso medio del grupo 2: 71.25641025641026
El ingreso medio del grupo 3: 52.87096774193548

# Creacion de nuevas columnas

n) Crear una columna llamada Income_Category que tenga:
 - Low si Annual Income < 20
 - Medium si 20 <= Income < 40
 - High si Income >= 40

In [166]:
Income_Category = [] #Creamos una lista vacia para los datos de la nueva columna

#recorremos la columna de ingresos anuales y asi poder clasificarlos en las distintas categorias
for income in Clientes['Annual Income (k$)']:
  if income < 20:
    Income_Category.append('Low')
  elif 20 <= income < 40:
      Income_Category.append('Medium')
  else:
        Income_Category.append('High')

#Creamos la nueva columna
Clientes['Income_Category'] = Income_Category

print(Clientes) #Se puede ver la columna sumada en el final

     CustomerID  Gender   Age  Annual Income (k$)  Spending Score (1-100)  \
0             1    Male  19.0                15.0                    39.0
2             3  Female  20.0                16.0                     6.0
5             6  Female  22.0                17.0                    76.0
6             7  Female  35.0                18.0                     6.0
7             8  Female  23.0                18.0                    94.0
..          ...     ...   ...                 ...                     ...
195         196  Female  35.0               120.0                    79.0
196         197  Female  45.0               126.0                    28.0
197         198    Male  32.0               126.0                    74.0
198         199    Male  32.0               137.0                    18.0
199         200    Male  30.0               137.0                    83.0

    Income_Category Age_group
0               Low     Joven
2               Low     Joven
5               Low     Joven
6               Low    Adulto
7               Low     Joven
..              ...       ...
195            High    Adulto
196            High    Adulto
197            High    Adulto
198            High    Adulto
199            High    Adulto

[150 rows x 7 columns]

o) Crear una columna Age_Group con categorías: Joven (<30), Adulto (30-60),
Mayor (>60)**texto en negrita**

In [167]:
Age_group = [] #Creamos una lista vacia para los datos de la nueva columna

# asi como en el punto anterior, recorremos la columna de age para poder clasificar
for age in Clientes['Age']:
 if age < 30:
  Age_group.append('Joven')
 elif 30 <= age < 60:
  Age_group.append('Adulto')
 else:
  Age_group.append('Mayor')

#Creamos la nueva columna
Clientes['Age_group'] = Age_group

print(Clientes) #Se puede ver la columna sumada en el final

     CustomerID  Gender   Age  Annual Income (k$)  Spending Score (1-100)  \
0             1    Male  19.0                15.0                    39.0
2             3  Female  20.0                16.0                     6.0
5             6  Female  22.0                17.0                    76.0
6             7  Female  35.0                18.0                     6.0
7             8  Female  23.0                18.0                    94.0
..          ...     ...   ...                 ...                     ...
195         196  Female  35.0               120.0                    79.0
196         197  Female  45.0               126.0                    28.0
197         198    Male  32.0               126.0                    74.0
198         199    Male  32.0               137.0                    18.0
199         200    Male  30.0               137.0                    83.0

    Income_Category Age_group
0               Low     Joven
2               Low     Joven
5               Low     Joven
6               Low    Adulto
7               Low     Joven
..              ...       ...
195            High    Adulto
196            High    Adulto
197            High    Adulto
198            High    Adulto
199            High    Adulto

[150 rows x 7 columns]